name: jana_seva_app
description: Jana Seva App - public grievance starter
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=2.19.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  firebase_core: ^2.10.0
  firebase_auth: ^4.5.0
  cloud_firestore: ^4.7.0
  firebase_storage: ^11.2.0
  image_picker: ^0.8.7+5
  uuid: ^3.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
